@model Letter

<h4>Thank you, @Model.Name, letter has been sent to Santa!</h4>
<p>Please allow 3-5 business days for Santa to review and evaluate.</p>
<a asp-action="Index" asp-controller="Home">Return Home</a>