@{
    ViewData["Title"] = "Welcome to the North Pole";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the North Pole!</h1>
    <h3>Click <a asp-action="Index" asp-controller="Letter">Here</a> to write a letter to Santa!</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
